@font-face {
	font-family: 'Bruno Ace SC';
	src: url('../fonts/bruno_ace_sc.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/bruno_ace_sc.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/bruno_ace_sc.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/bruno_ace_sc.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/bruno_ace_sc.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/bruno_ace_sc.svg#bruno_ace_sc') format('svg'); /* Chrome < 4, Legacy iOS */
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #233564;
  box-sizing: border-box; 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

#header {
  background: #fff;
  position: relative;
  border-bottom: 2px solid #d3d6e1;
}

.header-top-wrapper {
  background: #2b5995;
  z-index: 3;
  position: fixed; 
  top:0;
  width:100%;  
  transition: All .5s ease;
  -webkit-transition: All .5s ease;
  -moz-transition: All .5s ease;
  -o-transition: All .5s ease;
  border-bottom: 1px solid #d3d6e1; 
}

.header-top {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.header-top-contact-item {
  display: inline-block;
  margin-right: 30px;
}

.header-top-contact-item i {
  margin-right: 10px;
}

.logo {
  width: 270px;
  height: 70px;
  color: #15295b;
  transition: All .5s ease;
  -webkit-transition: All .5s ease;
  -moz-transition: All .5s ease;
  -o-transition: All .5s ease;
}

.header-nav {
  background-color: #fff;
  transition: 0.4s; 
  position: fixed; 
  width: 100%;
  z-index: 2;
  left: 0;
  right: 0; 
  border-bottom: 1px solid #d3d6e1;
}

.nav-toggle span {
  display: block;
  height: 3px;
  margin-top: 3px;
  background: #15295b;
  opacity: 1;
  width: 100%;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav-toggle {
  width: 40px;
  height: 30px;
  position: relative;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;  
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  padding: 0px 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  border: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 30px 0px 10px; 
}

.navigation-button {
  display:none;
}
.navigation-collapse {
  display: flex;
  justify-content: space-between;
}
.navigation-item {
  padding-right: 50px;
  padding-top: 30px;
}

.navigation-item a {
  display: block;
  padding-bottom: 5px;
  text-decoration: none;
  color: #233564;
  font-weight: 400;
  font-size: 18px;
  margin: 0px;
}

.navigation-item a:hover {
  border-bottom: 3px solid #2b5995;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.services-wrapper {
  height: 57vh;
  background-image: url(../../images/main2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0px 25px;
  position: relative;
}

.services {
  height: 55vh;  
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly; 
}
.services-buttons {
  position: absolute;
  right: 0;
  top: 45%;
}
.services-wrapper .fa-phone-flip {
  color: #04adad;
  font-size: 40px;
}

.services-wrapper .fa-envelope {
  color: #fbba00;
  font-size: 40px;
}

.services-item {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, .5);
  background: linear-gradient(to bottom, #fff, transparent);
  border:1px solid #2b5995;
  width: 28%;
  height: 100%;   
  font-size: 18px;  
  padding:25px 15px 15px 15px;
}
.services-item h3 {
  min-height:70px;
  font-weight: 600;  
  color: #2b5995;
  font-size: 25px;
  text-align: center; 
  text-shadow: 1px 1px rgb(236, 236, 236);
  margin:0px 0px 30px 0px ;
}

.services-item-icon {
  text-align: center;
  min-height: 50px;
}
.services-item-text {
   min-height:300px;   
}

.services-item-link {
  margin-top: 20px;  
  text-align: right;
}

.fa-arrow-right {
  color: #2b5995;
  font-size: 30px;
}

.fa-globe {
  color: #2b5995;
  font-size: 40px;
}

.fa-boxes-stacked, fa-route {
  color: #2b5995;
  font-size: 40px;
}
.fa-route {
  color: #2b5995;
  font-size: 40px;
}
.services-buttons {
  text-align: right;
}

.services-buttons button {
  margin-top: 20px;
}




hr {
  margin:0px;
}
  

.footer-wrapper {
  background-color: #fff;
  padding: 20px 30px 0px;
}

.footer {
  text-align: right;
  color: #233564;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-info p { 
  margin: 0px;
  text-align: left;
}

.footer-info-top {
  font-size: 18px;
  display: flex;
  justify-content: left;
}

.footer-info-top-child {
  margin-right: 50px;
}

.footer-info-bottom {
  font-size: 14px;
}

.footer-info-bottom p {
  margin: 2px;
}


.menu-mobile {
  display: none;
}

.menu {
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: #2b5995; 
  background-color: rgba(43, 89, 149, 0.9); 
  overflow-x: hidden; 
  transition: 0.5s; 
}

.menu-item {
  border-bottom: 2px solid #233564;
}

.menu-mobile-content {
  position: relative;
  top: 25%; 
  width: 100%; 
  text-align: left; 
  margin-top: 30px; 
}

.menu-mobile-content ul {
  list-style-type: none;
}

.menu a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  display: block; 
  transition: 0.3s; 
}

.menu a:hover,
.menu a:focus {
  color: #233564;
}


.closebtn {
  color: #fff;
  position: absolute;
  z-index: 2;
  top: 125px;
  right: 45px;
  font-size: 60px;
}

@media all and (max-width:950px) {
  .navigation-button {
    display:block;
  }
  .navigation-collapse {
    display:none;
  }  
}

@media (min-width: 768px) and (max-width: 1041px) {
  .header-top  {
    height: 32px;
  }
}


@media screen and (max-height: 450px) {
  .menu a {
    font-size: 20px;
  }
  .menu .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
