body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #233564;
  box-sizing: border-box; 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}


#header {
  background: #fff;
  position: relative;
  border-bottom: 2px solid #d3d6e1;
}

.header-top-wrapper {
  background: #2b5995;
  z-index: 3;
  position: fixed; 
  top:0;
  width:100%;  
  transition: All .5s ease;
  -webkit-transition: All .5s ease;
  -moz-transition: All .5s ease;
  -o-transition: All .5s ease;
  border-bottom: 1px solid #d3d6e1; 
}

.header-top {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.header-top-contact-item {
  display: inline-block;
  margin-right: 30px;
}

.header-top-contact-item i {
  margin-right: 10px;
}

.logo {
  width: 270px;
  height: 70px;
  color: #15295b;
  transition: All .5s ease;
  -webkit-transition: All .5s ease;
  -moz-transition: All .5s ease;
  -o-transition: All .5s ease;
}

.header-nav {
  background-color: #fff;
  transition: 0.4s; /* Добавить эффект перехода при уменьшении заполнения*/
  position: fixed; /* Липкая/фиксированная навигационная панель */
  width: 100%;
  z-index: 2;
  left: 0;
  right: 0; 
  border-bottom: 1px solid #d3d6e1;
}

.nav-toggle span {
  display: block;
  height: 3px;
  margin-top: 3px;
  background: #15295b;
  opacity: 1;
  width: 100%;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav-toggle {
  width: 40px;
  height: 30px;
  position: relative;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  padding: 0px 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  border: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 30px 0px 10px; /* Большой отступ, который будет сжиматься при прокрутке (с помощью JS) */
}

.navigation-button {
  display:none;
}

.navigation-collapse {
  display: flex;
  justify-content: space-between;
}
.navigation-item {
  padding-right: 50px;
  padding-top: 30px;
}

.navigation-item a {
  display: block;
  padding-bottom: 5px;
  text-decoration: none;
  color: #233564;
  font-weight: 400;
  font-size: 18px;
  margin: 0px;
}

.navigation-item a:hover {
  border-bottom: 3px solid #2b5995;
  transition: 0.2s;
}



.services-wrapper {
  background-color: #2b5995;
}
.services {
  margin-top: 120px;
}

.services-info {
  position: relative;
}

.services-info-title {
  background: linear-gradient(to right, #fff, transparent);
  font-size: 40px;
  font-weight: 500;
  color: #2b5995;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-transform: rotate(-90deg); /* Для Firefox */
  -ms-transform: rotate(-90deg); /* Для IE */
  -webkit-transform: rotate(-90deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-90deg); /* Для Opera */
  transform: rotate(-90deg);
  transform-origin: 23px 54%;
  min-width: 500px; 
}
.services-info-title p {
  margin: 10px 50px;
}


.services-nav {
  display: flex;  
  border: 2px solid green;

}

/* Стиль cсылок на вкладку */
.tablink {
  background-color: #2b5995; 
  color: white;  
  border: 2px solid #fff;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
 min-width: 29%;
}


.tablink:hover {
  background-color: #9BDEDE;
}


/* Стиль содержимого вкладки (и добавить высоту: 100% для полного содержимого страницы) */
.tabcontent {
  color: #2b5995;
  display: none;  
  height: 100%;
  border:1px solid black;
}

#international-cargo, #groupage-cargo, #forwarding  {background-color: #fff;}

.services-international-cargo-wrapper  {
  display: flex; 
}
.services-international-cargo-img {
  background-image: url("../../images/map.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 25%; 
 
}

.services-international-cargo-text {
  padding: 30px 25px 30px;
  font-size: 16px;
}


.services-groupage-cargo-wrapper  {
  display: flex; 
}

.services-groupage-cargo-img {
  background-image: url("../../images/gropage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  min-width: 25%; 
  
}

.services-groupage-cargo-text {
  padding: 30px 35px 30px;
  font-size: 16px;
}


.services-forwarding-cargo-wrapper  {
  display: flex; 
}
.services-forwarding-img {
  background-image: url("../../images/forwarding.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 25%; 
  min-height: 500px;
  
}

.services-forwarding-cargo-text {
  padding: 30px 35px 30px;
  font-size: 16px;
}




hr {
  margin:0px;
}
  

.footer-wrapper {
  background-color: #fff;
  padding: 20px 30px 0px;
}

.footer {
  text-align: right;
  color: #233564;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-info p { 
  margin: 0px;
  text-align: left;
}

.footer-info-top {
  font-size: 18px;
  display: flex;
  justify-content: left;
}

.footer-info-top-child {
  margin-right: 50px;
}

.footer-info-bottom {
  font-size: 14px;
}

.footer-info-bottom p {
  margin: 2px;
}



.menu-mobile {
  display: none;
}


.menu {
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: #2b5995; 
  background-color: rgba(43, 89, 149, 0.9); 
  overflow-x: hidden; 
  transition: 0.5s; 
}

.menu-item {
  border-bottom: 2px solid #233564;
}

.menu-mobile-content {
  position: relative;
  top: 25%; 
  width: 100%; 
  text-align: left; 
  margin-top: 30px; 
}

.menu-mobile-content ul {
  list-style-type: none;
}

.menu a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  display: block; 
  transition: 0.3s; 
}

.menu a:hover,
.menu a:focus {
  color: #233564;
}

.closebtn {
  color: #fff;
  position: absolute;
  z-index: 2;
  top: 125px;
  right: 45px;
  font-size: 60px;
}

@media all and (max-width:950px) {
  .navigation-button {
    display:block;
  }
  .navigation-collapse {
    display:none;
  }  
}

@media (min-width: 768px) and (max-width: 1041px) {
  .header-top  {
    height: 32px;
  }
}


@media screen and (max-height: 450px) {
  .menu a {
    font-size: 20px;
  }
  .menu .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
